@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

section {
  width: 100%; height: 100%;
  background: #efefef;
  .inner {
    max-width: 1180px; 
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding: 0 20px;
    h2 {
      font-size: 20px;
      margin-bottom: 80px;
    }
    .about-content {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 100px;
      .about-content-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        p {
          font-weight: bold;
          margin-right: 130px;
          font-size: 50px;
        }
        // 되는지 안되는지 확인해보고 삭제하자. circle-effect
        .circle-effect {
          position: relative;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background: #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          .img {
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 50%;
          }
          .text {
            position: absolute;
            width: 100%; height: 100%;
            animation: anime 15s linear infinite;
            animation-play-state: running;
            transition: 0.5s;
            p {
              
              font-size: 18px;
              // color: #A7774B;
              color: #aaa;
            }
            span {
              position: absolute;
              left: 50%; top: -34%;
              transform-origin: 0 100px;
              font-family: Inconsolata, sans-serif;

            }
          }
          &:hover .text {
            animation-play-state: paused;

          }
        }
      }
      .about-content-right {
        width: 50%;
        padding-left: 100px;
        p {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5em;
          margin-bottom: 60px;
        }
        button {
          width: 140px;
          height: 30px;
          font-size: 10px;
          border-radius: 14px;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            color: #fff;
            background: #000;
          }
        }
      }
    }
    .about-brands-logo {
      display: flex;
      width: 100%;
      padding: 100px 20px;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;

      .wrap-logo {
        width: 20%;
      }
    }
  }
  
}

@keyframes anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}




@media screen and (max-width: $tablet) {
  section {
    width: 100%;
    .inner {
      width: 100%;
      padding: 20px;
      .about-content {
        .about-content-left {
          width: 50%;
          p {
            font-weight: bold;
            margin-right: 50px;
            font-size: 50px;
          }
        }
        .about-content-right {
          width: 50%;
          padding-left: 30px;
        }
      }
      .about-brands-logo {
        .wrap-logo {
          width: 33.3333%;
        }
      }
    }
  }
}


@media screen and (max-width: $mobile) {
  section {
    width: 100%;
    .inner {
      width: 100%;
      padding: 20px;
      .about-content {
        // flex-direction: column;
        .about-content-left {
          width: 100%;
          margin-bottom: 30px;
          justify-content: center;
          p {
            width: 100%;
            text-align: center;
            font-weight: bold;
            margin-bottom: 30px;
            margin-right: 0;
            font-size: 42px;
          }
          .circle-effect {
            width: 100px; height: 100px;
            margin: 0 20px;
            margin-top: 42px;
            .img {
              width: 60px; height: 60px;
              img {
                width: 100%; height: 100%;
              }
            }
            .text {
              span {
                left: 40%; top: -36%;
                transform-origin: 10px 84px;
              }
            }
          }

        }
        .about-content-right {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding: 60px 30px;
          button {
            margin: 0 auto;
          }
        }
      }
      .about-brands-logo {
        .wrap-logo {
          width: 50%;
        }
      }
    }
  }
}