@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #efefef;
}

table, th, td {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

.h {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

.b-line::after {
  display: block;
  content: "";
  border-bottom: 1px solid #000;
  width: 100%;
  height: 1px;
}

footer {
  width: 100%;
  height: 500px;
  background: #222;
  color: #ddd;
}
footer .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
footer .inner .footer-box {
  width: 500px;
  margin: 20px 0;
  letter-spacing: 1px;
}
footer .inner .footer-box:nth-of-type(1) h2 {
  font-size: 46px;
}
footer .inner .footer-box:nth-of-type(2) p {
  font-size: 20px;
}
footer .inner .footer-box:nth-of-type(3) p {
  margin-bottom: 20px;
}
footer .inner .footer-box:nth-of-type(3) input {
  width: 70%;
  height: 30px;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}
footer .inner .footer-box:nth-of-type(4) {
  display: flex;
  justify-content: space-between;
}
footer .inner .footer-box:nth-of-type(4) ul p {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
}
footer .inner .footer-box:nth-of-type(4) ul li {
  font-weight: normal;
  font-size: 14px;
  margin: 3px 0;
}
footer .inner .footer-box:nth-of-type(4) ul li a {
  color: #ddd;
}

@media screen and (max-width: 1179px) {
  footer .inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  footer .inner .footer-box {
    width: 360px;
  }
  footer .inner .footer-box:nth-of-type(1) h2 {
    text-align: center;
  }
  footer .inner .footer-box:nth-of-type(4) ul p {
    font-size: 18px;
  }
  footer .inner .footer-box:nth-of-type(4) ul li {
    font-size: 12px;
  }
}
.content figure {
  width: 100%;
  height: 300px;
  background: #bbb;
  opacity: 0;
  transition: 1s;
  overflow: hidden;
}
.content figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}
.content figure > .inner {
  width: 1180px;
  min-height: 400px;
  margin: 100px auto 150px;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s;
}
.content figure > .inner h2 {
  font: normal 60px/1 "work sans";
  color: #111;
  margin-bottom: 70px;
}
.content figure > .inner h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #555;
  margin-top: 20px;
}
.content.on figure {
  opacity: 1;
}
.content.on figure > .inner {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1179px) {
  .content figure {
    height: 200px;
  }
  .content .inner {
    width: 100%;
    margin: 80px auto 120px;
    padding: 0 40px;
  }
}
header {
  width: 100%;
  background: transparent;
}
header .inner {
  width: 1180px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
header .inner h1 {
  position: absolute;
  bottom: 20px;
  left: 0;
}
header .inner h1 a {
  font: bold 24px/1 "arial";
  color: #000;
}
header .inner #gnb {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
header .inner #gnb li {
  position: relative;
  float: left;
  transition: 0.5s;
}
header .inner #gnb li a {
  display: inline-block;
  padding: 30px 30px;
  font: bold 14px/1 "arial";
  color: #000;
}
header .inner #gnb li::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-65%);
  content: "(";
  font-size: 12px;
  display: none;
}
header .inner #gnb li::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-65%);
  content: ")";
  font-size: 12px;
  display: none;
}
header .inner #gnb li:hover {
  transition: 0.5s;
}
header .inner #gnb li:hover::before {
  display: inline;
}
header .inner #gnb li:hover::after {
  display: inline;
}
header .inner .fa-bars {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: none;
}

@media screen and (max-width: 1179px) {
  header {
    width: 100%;
  }
  header .inner {
    width: 100%;
  }
  header .inner h1 {
    bottom: 20px;
    left: 40px;
  }
  header .inner #gnb {
    display: none;
  }
  header .inner .fa-bars {
    display: block;
  }
}
.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.pop .con {
  width: 100%;
  height: 100%;
}
.pop .con iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pop .con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pop .close {
  font: bold 14px/1 "arial";
  color: orange;
  position: absolute;
  top: 40px;
  right: 5vw;
  cursor: pointer;
}

#mobileMenu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #111;
  padding: 50px;
  z-index: 10;
}
#mobileMenu h1 {
  width: 100%;
  margin-bottom: 30px;
}
#mobileMenu h1 a {
  color: #bbb;
}
#mobileMenu ul li::after {
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background: #bbb;
  transition: 0.5s;
}
#mobileMenu ul li:hover::after {
  width: 100%;
}
#mobileMenu ul li:hover a {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.8);
  color: azure;
}
#mobileMenu ul li:last-of-type::after {
  display: none;
}
#mobileMenu ul li a {
  display: block;
  height: 50px;
  font: 16px/50px "arial";
  color: #bbb;
}

@media screen and (max-width: 539px) {
  #mobileMenu {
    width: 100%;
    height: 400px;
    text-align: center;
  }
  #mobileMenu ul li:last-child {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 20px auto;
    cursor: pointer;
  }
  #mobileMenu ul li:last-child::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    display: block;
    content: "";
    width: 24px;
    height: 3px;
    background: #bbb;
    transition: all 0.5s;
  }
  #mobileMenu ul li:last-child::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    display: block;
    content: "";
    width: 24px;
    height: 3px;
    background: #bbb;
    transition: all 0.5s;
  }
  #mobileMenu ul li:last-child:hover::before {
    transform: rotate(-45deg);
    background: azure;
  }
  #mobileMenu ul li:last-child:hover::after {
    transform: rotate(45deg);
    background: azure;
  }
}
#visual .inner {
  width: 1180px;
  padding-top: 120px;
  margin: 0 auto;
}
#visual .inner .text-box {
  display: flex;
  justify-content: space-between;
}
#visual .inner .text-box .text-box-left {
  flex: 1;
}
#visual .inner .text-box .text-box-left h2 {
  font-size: 60px;
  display: flex;
}
#visual .inner .text-box .text-box-left h2 p:nth-of-type(2) {
  padding-left: 24px;
}
#visual .inner .text-box .text-box-left .mini-text-box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 30px 0;
  padding: 10px;
}
#visual .inner .text-box .text-box-left .mini-text-box p {
  font-size: 18px;
}
#visual .inner .text-box .text-box-left .mini-text-box p:nth-of-type(1) {
  display: flex;
  align-items: center;
}
#visual .inner .text-box .text-box-left .mini-text-box p:nth-of-type(1)::after {
  flex-grow: 1;
  content: "";
  height: 1px;
  background: #000;
  margin: 0 16px;
  width: 200px;
}
#visual .inner .text-box .text-box-left .mini-text-box p:nth-of-type(2) span {
  padding: 6px 10px;
  margin-left: 20px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
#visual .inner .text-box .text-box-left .mini-text-box p:nth-of-type(2) span:hover {
  background: #000;
  color: #fff;
}
#visual .inner .text-box .text-box-right {
  display: flex;
  flex: 1;
  align-items: flex-end;
  position: relative;
  padding-bottom: 30px;
}
#visual .inner .text-box .text-box-right p {
  position: absolute;
  font-weight: bold;
}
#visual .inner .text-box .text-box-right p:nth-of-type(1) {
  bottom: 0;
  right: 0px;
  font-size: 180px;
  color: #fff;
}
#visual .inner .text-box .text-box-right p:nth-of-type(2) {
  font-size: 34px;
  right: 0;
}
#visual .inner .img-box {
  width: 100%;
  height: 600px;
}
#visual .inner .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1179px) {
  #visual .inner {
    width: 100%;
    padding: 20px;
  }
  #visual .inner .text-box {
    width: 100%;
    flex-wrap: wrap;
  }
  #visual .inner .text-box .text-box-left {
    padding: 20px;
  }
  #visual .inner .text-box .text-box-left h2 {
    width: 100%;
  }
  #visual .inner .text-box .text-box-left h2 p {
    width: 100%;
  }
  #visual .inner .text-box .text-box-left .mini-text-box {
    width: 100%;
  }
  #visual .inner .text-box .text-box-left .mini-text-box p:nth-of-type(1)::after {
    width: 140px;
  }
  #visual .inner .text-box .text-box-right {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  #visual .inner .text-box .text-box-left h2 {
    font-size: 38px;
  }
  #visual .inner .text-box .text-box-left .mini-text-box {
    width: 100%;
  }
  #visual .inner .text-box .text-box-left .mini-text-box p:nth-of-type(1)::after {
    width: 100px;
  }
  #visual .inner .text-box .text-box-left .mini-text-box p:nth-of-type(2) {
    margin-top: 20px;
  }
  #visual .inner .text-box .text-box-left .mini-text-box p:nth-of-type(2) span {
    padding: 7px 10px;
  }
}
#news {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10vw 10vw 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#news h2 {
  font-size: 50px;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
#news article {
  width: 20%;
  min-height: 180px;
  border: 1px solid #888;
  padding: 20px;
  margin: 20px 20px 50px;
  transform: translateY(100px) retateY(180deg);
  opacity: 0;
  transition-duration: 0.5s;
}
#news article .random-img {
  width: 100%;
  height: 260px;
}
#news article .random-img img {
  width: 100%;
  height: 100%;
}
#news article h2 {
  margin-top: 20px;
  font: bold 18px/1 "arial";
  color: #444;
  margin-bottom: 15px;
}
#news article p {
  font: 14px/1.2 "arial";
  color: #777;
}
#news.on article {
  opacity: 1;
  transform: translateY(0) rotateY(0);
}
#news.on article:nth-of-type(1) {
  transition-delay: 0.2s;
}
#news.on article:nth-of-type(2) {
  transition-delay: 0.4s;
}
#news.on article:nth-of-type(3) {
  transition-delay: 0.6s;
}
#news.on article:nth-of-type(4) {
  transition-delay: 0.8s;
}
#news.on article:nth-of-type(5) {
  transition-delay: 1s;
}

@media screen and (max-width: 1179px) {
  #news article {
    width: 40%;
  }
}
@media screen and (max-width: 539px) {
  #news h2 {
    font-size: 38px;
  }
  #news article {
    width: 80%;
  }
}
section {
  width: 100%;
  height: 100%;
  background: #efefef;
}
section .inner {
  width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
}
section .inner h2 {
  font-size: 20px;
  margin-bottom: 80px;
}
section .inner .about-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}
section .inner .about-content .about-content-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}
section .inner .about-content .about-content-left p {
  font-weight: bold;
  margin-right: 130px;
  font-size: 50px;
}
section .inner .about-content .about-content-left .circle-effect {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .inner .about-content .about-content-left .circle-effect .img {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
section .inner .about-content .about-content-left .circle-effect .text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: anime 15s linear infinite;
  animation-play-state: running;
  transition: 0.5s;
}
section .inner .about-content .about-content-left .circle-effect .text p {
  font-size: 18px;
  color: #aaa;
}
section .inner .about-content .about-content-left .circle-effect .text span {
  position: absolute;
  left: 50%;
  top: -34%;
  transform-origin: 0 100px;
  font-family: Inconsolata, sans-serif;
}
section .inner .about-content .about-content-left .circle-effect:hover .text {
  animation-play-state: paused;
}
section .inner .about-content .about-content-right {
  width: 50%;
  padding-left: 100px;
}
section .inner .about-content .about-content-right p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 60px;
}
section .inner .about-content .about-content-right button {
  width: 140px;
  height: 30px;
  font-size: 10px;
  border-radius: 14px;
  transition: 0.5s;
  cursor: pointer;
}
section .inner .about-content .about-content-right button:hover {
  color: #fff;
  background: #000;
}
section .inner .about-brands-logo {
  display: flex;
  width: 100%;
  padding: 100px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
section .inner .about-brands-logo .wrap-logo {
  width: 20%;
}

@keyframes anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@media screen and (max-width: 1179px) {
  section {
    width: 100%;
  }
  section .inner {
    width: 100%;
    padding: 20px;
  }
  section .inner .about-content .about-content-left {
    width: 50%;
  }
  section .inner .about-content .about-content-left p {
    font-weight: bold;
    margin-right: 50px;
    font-size: 50px;
  }
  section .inner .about-content .about-content-right {
    width: 50%;
  }
  section .inner .about-brands-logo .wrap-logo {
    width: 33.3333%;
  }
}
@media screen and (max-width: 539px) {
  section {
    width: 100%;
  }
  section .inner {
    width: 100%;
    padding: 20px;
  }
  section .inner .about-content .about-content-left {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }
  section .inner .about-content .about-content-left p {
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 50px;
    padding-left: 40px;
    font-size: 38px;
  }
  section .inner .about-content .about-content-left .circle-effect {
    width: 100px;
    height: 100px;
    margin: 0 20px;
    margin-top: 42px;
  }
  section .inner .about-content .about-content-left .circle-effect .img {
    width: 60px;
    height: 60px;
  }
  section .inner .about-content .about-content-left .circle-effect .img img {
    width: 100%;
    height: 100%;
  }
  section .inner .about-content .about-content-left .circle-effect .text span {
    left: 40%;
    top: -36%;
    transform-origin: 10px 84px;
  }
  section .inner .about-content .about-content-right {
    width: 100%;
    justify-content: center;
    padding: 60px;
  }
  section .inner .about-brands-logo .wrap-logo {
    width: 50%;
  }
}
#pics {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10vw;
  overflow: hidden;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
#pics p {
  font: bold 200px/1 "arial";
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 100px;
  left: 100px;
}
#pics h3 {
  font: bold 160px/1 "arial";
  color: #fff;
  position: absolute;
  top: 160px;
  left: 100px;
  text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
}
#pics ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 100px 0;
}

@media screen and (max-width: 539px) {
  #pics p {
    font-size: 100px;
  }
  #pics h3 {
    font-size: 80px;
  }
}
#vids {
  width: 100%;
  height: 100%;
  position: relative;
}
#vids h3 {
  padding-top: 80px;
  font-size: 50px;
  text-align: center;
}
#vids .swiper {
  height: 100%;
  padding: 10vh 0px 20vh;
}
#vids .swiper .swiper-slide {
  width: 600px;
}
#vids .swiper .swiper-slide .inner {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #fff;
  opacity: 0.5;
  transform: scale(0.8);
  transition: opacity 0.5s, transform 0.5s;
}
#vids .swiper .swiper-slide .inner .pic {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}
#vids .swiper .swiper-slide .inner .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
#vids .swiper .swiper-slide .inner .pic .font-awesome {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: #eee;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
}
#vids .swiper .swiper-slide .inner .pic:hover img {
  transform: scale(1.1);
}
#vids .swiper .swiper-slide .inner .pic:hover .font-awesome {
  opacity: 1;
}
#vids .swiper .swiper-slide .inner h2 {
  font: normal 20px/1 "work sans";
  font-weight: 600;
  color: #333;
}
#vids .swiper .swiper-slide.swiper-slide-active .inner {
  opacity: 1;
  transform: scale(1);
}
#vids .swiper .swiper-pagination {
  bottom: 40px;
  filter: grayscale(1) brightness(4);
  z-index: 5;
}
#vids .swiper .swiper-pagination .swiper-pagination-bullet {
  border-radius: 4px;
  transition: 0.5s;
}
#vids .swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 80px;
}
#vids .swiper .swiper-button-prev,
#vids .swiper .swiper-button-next {
  top: auto;
  bottom: 30px;
  transform: scale(0.5);
  filter: grayscale(1) brightness(4);
  z-index: 6;
}
#vids .swiper .swiper-button-prev {
  left: auto;
  right: 60px;
}

@media screen and (max-width: 539px) {
  #vids h3 {
    font-size: 38px;
  }
}
section {
  width: 100%;
}
section .inner {
  width: 1180px;
}
section .inner .service-header-text {
  display: flex;
  justify-content: space-between;
}
section .inner .service-header-text h2 {
  font-size: 20px;
}
section .inner .service-header-text p {
  cursor: pointer;
}
section .inner .service-header-text p span {
  color: #555;
  margin-left: 10px;
  font-weight: 600;
}
section .inner .service-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 160px;
}
section .inner .service-container .icon-box {
  width: 20%;
}
section .inner .service-container .icon-box .wrap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
section .inner .service-container .icon-box .wrap-icon .font-awesome {
  font-size: 30px;
}
section .inner .service-container .icon-box p:nth-of-type(1) {
  margin: 30px 0;
  font-weight: 600;
}
section .inner .service-container .icon-box p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1179px) {
  section .inner {
    width: 100%;
  }
  section .inner .service-container .icon-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 30px;
  }
}
@media screen and (max-width: 539px) {
  section .inner .service-container .icon-box {
    width: 100%;
    padding: 50px 80px;
  }
}
.scroll_navi {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  z-index: 3;
}
.scroll_navi li {
  width: 10px;
  height: 10px;
  border: 1px solid #111;
  background: #fff;
  margin: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.scroll_navi li.on {
  height: 100px;
  background: #111;
  border: #fff;
}

.Community > .inner .inputBox {
  width: 100%;
  border: 1px solid #bbb;
  padding: 50px;
  margin-bottom: 50px;
}
.Community > .inner .inputBox input[type=text], .Community > .inner .inputBox textarea {
  width: 50%;
  padding: 8px 10px;
  border: 1px solid #aaa;
  margin-bottom: 20px;
  resize: none;
}
.Community > .inner .inputBox .btnSet button {
  width: 150px;
  height: 30px;
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}
.Community > .inner .showBox {
  width: 100%;
  border: 1px solid #bbb;
  padding: 50px;
}
.Community > .inner .showBox article {
  background: #fff;
  padding: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.Community > .inner .showBox article .editTxt {
  width: 60%;
}
.Community > .inner .showBox article .editTxt input[type=text],
.Community > .inner .showBox article .editTxt textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid lightblue;
  margin-bottom: 20px;
  background: #eaf9f9;
  resize: none;
}
.Community > .inner .showBox article .btnSet {
  display: flex;
  align-items: center;
}
.Community > .inner .showBox article .btnSet button {
  background: transparent;
  margin: 10px;
  cursor: pointer;
  border: none;
}
.Community > .inner .showBox article .btnSet button:nth-of-type(1) {
  color: orange;
}
.Community > .inner .showBox article .btnSet button:nth-of-type(2) {
  color: orangered;
}

@media screen and (max-width: 1179px) {
  .community > .inner .inputBox input[type=text],
.community > .inner .inputBox textarea {
    width: 100%;
  }
  .community > .inner .inputBox .btnSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .community > .inner .inputBox .btnSet button {
    width: 47%;
    margin-right: 0;
  }
  .community > .inner .showBox article .editTxt,
.community > .inner .showBox article txt {
    width: 100%;
  }
  .community > .inner .showBox article .btnSet {
    margin-top: 20px;
  }
  .community > .inner .showBox article .btnSet button {
    margin-left: 0;
  }
}
.Member figure {
  background: lightgreen;
}
.Member > .inner table {
  width: 100%;
  border: none;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
}
.Member > .inner table th {
  width: 20%;
  border: none;
  border-bottom: 1px solid #bbb;
  padding: 15px 30px;
  text-align: left;
}
.Member > .inner table th:last-child {
  text-align: center;
}
.Member > .inner table th input[type=reset],
.Member > .inner table th input[type=submit] {
  border: 1px solid #aaa;
  width: 150px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.Member > .inner table td {
  border: none;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  padding: 15px 30px;
}
.Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
  width: 40%;
  border: 1px solid #aaa;
  padding: 6px 10px;
  resize: none;
}
.Member > .inner table td label {
  margin-right: 6px;
}
.Member > .inner table td input[type=radio],
.Member > .inner table td input[type=checkbox] {
  margin-right: 20px;
}
.Member > .inner table td .err {
  font: 12px/1 "arial";
  color: hotpink;
  margin-left: 10px;
}

@media screen and (max-width: 1179px) {
  .Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
    width: 80%;
  }
  .Member > .inner table td .err {
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 539px) {
  .Member > .inner table th {
    display: none;
    padding: 15px 0;
  }
  .Member > .inner table th:last-child {
    display: block;
    width: 100%;
  }
  .Member > .inner table th input[type=reset],
.Member > .inner table th input[type=submit] {
    width: 48%;
    margin: 0;
  }
  .Member > .inner table td {
    border-left: 0;
  }
  .Member > .inner table td input[type=text],
.Member > .inner table td input[type=password],
.Member > .inner table td select,
.Member > .inner table td textarea {
    width: 100%;
  }
}
.About {
  width: 100%;
}
.About .sub-visual {
  width: 100%;
}
.About .sub-visual .inner {
  width: 1180px;
  padding: 120px 0;
  margin: 0 auto;
}
.About .sub-visual .inner h2 {
  font-size: 70px;
  margin-bottom: 0;
  width: 100%;
}
.About .sub-visual .coworker-pic {
  width: 100%;
  height: 600px;
}
.About .sub-visual .coworker-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.About #about {
  width: 100%;
}
.About #about .inner {
  width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
}
.About #about .inner h2 {
  font-size: 20px;
  margin-bottom: 80px;
}
.About #about .inner .about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.About #about .inner .about-content .about-content-left {
  display: flex;
  flex: 1;
}
.About #about .inner .about-content .about-content-left p {
  font-weight: bold;
  margin-right: 130px;
  font-size: 50px;
}
.About #about .inner .about-content .about-content-right {
  flex: 1;
  padding-left: 100px;
}
.About #about .inner .about-content .about-content-right p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 60px;
}
.About #about .inner .about-content .about-content-right button {
  width: 140px;
  height: 30px;
  font-size: 10px;
  border-radius: 14px;
}
.About #about .simple-about-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.About #about .simple-about-box .simple-box {
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.About #about .simple-about-box .simple-box p {
  font-weight: bold;
}
.About #about .simple-about-box .simple-box p:nth-of-type(1) {
  font-size: 50px;
}
.About #about .simple-about-box .simple-box:nth-of-type(odd) {
  background: #222;
  color: #ddd;
}
.About #about .simple-about-box .simple-box:nth-of-type(even) {
  background: #fff;
}
.About #team {
  width: 100%;
  padding-bottom: 100px;
}
.About #team .inner {
  width: 1180px;
  padding-top: 100px;
  margin: 0 auto;
}
.About #team .inner h2 {
  font-size: 20px;
  margin-bottom: 80px;
}
.About #team .inner .department {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.About #team .inner .department article {
  width: 33.3333%;
  padding: 30px;
  margin-bottom: 50px;
}
.About #team .inner .department article .wrap-members {
  width: 100%;
}
.About #team .inner .department article .wrap-members .pic {
  width: 100%;
  height: 300px;
  background: #111;
  margin-bottom: 20px;
  filter: saturate(0.2);
  transition: 0.5s;
}
.About #team .inner .department article .wrap-members .pic:hover {
  filter: saturate(1.1);
}
.About #team .inner .department article .wrap-members .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.About #team .inner .department article .wrap-members .wrap-members-text {
  display: flex;
  justify-content: space-between;
}
.About #team .inner .department article .wrap-members .wrap-members-text h3 {
  font-size: 20px;
}
.About #team .inner .department article .wrap-members .wrap-members-text .wrap-icon a .font-awesome {
  padding-left: 12px;
  color: #000;
}
.About #team .inner .department article .wrap-members .wrap-members-text .wrap-icon a .font-awesome:hover {
  color: #A7774B;
}

@media screen and (max-width: 1179px) {
  .About .sub-visual .inner {
    width: 100%;
    padding: 100px 20px;
  }
  .About .sub-visual .inner h2 {
    width: 100%;
  }
  .About #about .inner {
    width: 100%;
    padding: 20px;
  }
  .About #about .inner .about-content .about-content-left {
    width: 50%;
  }
  .About #about .inner .about-content .about-content-left p {
    font-weight: bold;
    margin-right: 50px;
  }
  .About #about .inner .about-content .about-content-left p:nth-of-type(1) {
    font-size: 50px;
  }
  .About #about .inner .about-content .about-content-left p:nth-of-type(2) {
    font-size: 40px;
  }
  .About #about .inner .about-content .about-content-right {
    width: 50%;
  }
  .About #about .simple-about-box {
    width: 100%;
  }
  .About #about .simple-about-box .simple-box {
    padding: 50px 0;
    justify-content: center;
    align-items: center;
  }
  .About #team .inner {
    width: 100%;
  }
  .About #team .inner .department article {
    width: 50%;
  }
}
@media screen and (max-width: 539px) {
  .About .sub-visual .inner h2 {
    width: 100%;
    font-size: 50px;
  }
  .About #about .inner {
    width: 100%;
    padding: 20px;
  }
  .About #about .inner .about-content .about-content-left {
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  .About #about .inner .about-content .about-content-left p {
    font-weight: bold;
    margin-right: 50px;
  }
  .About #about .inner .about-content .about-content-left p:nth-of-type(1) {
    font-size: 50px;
  }
  .About #about .inner .about-content .about-content-left p:nth-of-type(2) {
    font-size: 40px;
  }
  .About #about .inner .about-content .about-content-right {
    width: 100%;
    justify-content: center;
    padding: 60px;
  }
  .About #about .simple-about-box {
    width: 100%;
    gap: 15px;
    justify-content: center;
  }
  .About #about .simple-about-box .simple-box {
    width: 80%;
  }
  .About #team .inner {
    width: 100%;
  }
  .About #team .inner .department article {
    width: 100%;
  }
}
.Gallery .loading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  width: 300px;
}
.Gallery .inner {
  margin-bottom: 100px;
}
.Gallery .inner h2 {
  font-size: 50px;
}
.Gallery .inner .controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.Gallery .inner .controls nav {
  padding: 10px;
  display: flex;
  gap: 20px;
}
.Gallery .inner .controls nav button {
  border: none;
  width: 130px;
  height: 30px;
  background: #555;
  font: 12px/30px "arial";
  color: #ddd;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px 0;
}
.Gallery .inner .controls .searchBox {
  padding-right: 15px;
}
.Gallery .inner .controls .searchBox input {
  width: 200px;
  height: 26px;
  background: #fff;
  border: 1px solid #bbb;
  padding: 3px 8px;
}
.Gallery .inner .controls .searchBox button {
  width: 80px;
  height: 26px;
  border: none;
  background: #555;
  font: 12px/26px "arial";
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}
.Gallery .inner .frame {
  margin: 20px 0;
  transform: translateY(200px);
  opacity: 0;
  transition: all 0.5s;
}
.Gallery .inner .frame.on {
  transform: translateY(0);
  opacity: 1;
}
.Gallery .inner .frame::after {
  content: "";
  display: block;
  clear: both;
}
.Gallery .inner .frame article {
  width: 25%;
  padding: 10px;
  float: left;
}
.Gallery .inner .frame article .inner {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.Gallery .inner .frame article .inner .pic {
  width: 100%;
  margin-bottom: 5px;
}
.Gallery .inner .frame article .inner .pic img {
  width: 100%;
}
.Gallery .inner .frame article .inner h2 {
  font: normal 14px/1.2 "arial";
  color: #777;
  margin-bottom: 30px;
}
.Gallery .inner .frame article .inner .profile {
  display: flex;
  align-items: center;
}
.Gallery .inner .frame article .inner .profile img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.Gallery .inner .frame article .inner .profile span {
  color: orange;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  word-break: break-all;
}
.Gallery .inner .frame article .inner .profile span:hover {
  color: aqua;
}

@media screen and (max-width: 1179px) {
  .Gallery .inner .controls .searchBox {
    padding: 10px;
  }
  .Gallery .inner .frame article {
    width: 33.3333%;
  }
}
@media screen and (max-width: 539px) {
  .Gallery .inner .controls .searchBox input {
    width: 150px;
  }
  .Gallery .inner .controls .searchBox button {
    width: 74px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .Gallery .inner .frame article {
    width: 100%;
  }
}
.Contact {
  width: 100%;
}
.Contact .inner h2 {
  font-size: 50px;
  border-bottom: 3px solid #000;
  display: inline-block;
  padding-bottom: 20px;
}
.Contact .inner .contact-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.Contact .inner .contact-section .contact-form {
  width: 48%;
  padding-top: 20px;
  padding-left: 20px;
}
.Contact .inner .contact-section .contact-form form fieldset {
  width: 100%;
  height: 100%;
}
.Contact .inner .contact-section .contact-form form fieldset table {
  width: 100%;
  border: none;
}
.Contact .inner .contact-section .contact-form form fieldset table tr {
  margin-bottom: 50px;
}
.Contact .inner .contact-section .contact-form form fieldset table tr th {
  width: 22%;
}
.Contact .inner .contact-section .contact-form form fieldset table tr td {
  width: 78%;
}
.Contact .inner .contact-section .contact-form form fieldset table tr td .err {
  font: 12px/1 "arial";
  color: black;
  margin-left: 10px;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(1) {
  height: 60px;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(1) th {
  width: 100px;
  height: 60px;
  text-align: start;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(1) td {
  padding: 30px;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(1) td #email {
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #000;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(2) {
  padding-top: 50px;
  height: 100px;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(2) th {
  text-align: start;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(2) td {
  padding: 30px;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(2) td #comments {
  width: 100%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #000;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(3) {
  padding: 30px;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(3) th input {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: #000;
  margin: 10px 20px;
  cursor: pointer;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(3) th input[type=reset] {
  color: #fff;
}
.Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(3) th input[type=submit] {
  color: #fff;
}
.Contact .inner .contact-section .contact-img {
  width: 48%;
}
.Contact .inner .contact-section .contact-img img {
  width: 100%;
  height: 100%;
}
.Contact .inner .flow-section {
  background: #ddd;
  width: 100%;
}
.Contact .inner .flow-section .flow-brands-logo {
  display: flex;
  width: 100%;
  margin: 100px 0;
  padding: 30px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.Contact .inner .flow-section .flow-brands-logo .wrap-logo {
  width: 20%;
}
.Contact .inner .map-h2 {
  margin: 50px 0 30px;
}
.Contact .inner .map-section {
  display: flex;
  gap: 30px;
}
.Contact .inner .map-section .kakao-map {
  width: 50%;
}
.Contact .inner .map-section .kakao-map #map {
  width: 100%;
  height: 500px;
  background: #000;
}
.Contact .inner .map-section .kakao-map .btnSet {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin: 50px 0;
}
.Contact .inner .map-section .kakao-map .btnSet button {
  cursor: pointer;
  height: 30px;
  border: 1px solid #888;
  padding: 5px 20px;
}
.Contact .inner .map-section .kakao-map .btnSet ul {
  display: flex;
}
.Contact .inner .map-section .kakao-map .btnSet ul li {
  border: 1px solid #888;
  height: 30px;
  padding: 0 20px;
  line-height: 30px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s;
}
.Contact .inner .map-section .kakao-map .btnSet ul li.on {
  background: #333;
  border: 1px solid #333;
  color: #fff;
}
.Contact .inner .map-section .location-guide {
  width: 50%;
  padding: 30px;
}
.Contact .inner .map-section .location-guide .location-guide-address {
  margin-bottom: 50px;
}
.Contact .inner .map-section .location-guide .location-guide-address h3 {
  margin-bottom: 30px;
  font-size: 30px;
}
.Contact .inner .map-section .location-guide .location-guide-address h4:nth-of-type(2) {
  margin-top: 20px;
}
.Contact .inner .map-section .location-guide .location-guide-information {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  gap: 8%;
  padding: 10px 0 20px;
  background: #ddd;
}
.Contact .inner .map-section .location-guide .location-guide-information .guide-information-left {
  width: 50%;
}
.Contact .inner .map-section .location-guide .location-guide-information .guide-information-left p {
  position: relative;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  overflow: hidden;
}
.Contact .inner .map-section .location-guide .location-guide-information .guide-information-left p:nth-of-type(1) {
  font-size: 28px;
}
.Contact .inner .map-section .location-guide .location-guide-information .guide-information-left p::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  background: #000;
  bottom: -8px;
  transition: 0.3s;
}
.Contact .inner .map-section .location-guide .location-guide-information .guide-information-left p:hover::after {
  bottom: 0;
}
.Contact .inner .map-section .location-guide .location-guide-information .guide-information-left p a {
  color: #000;
}
.Contact .inner .map-section .location-guide .location-guide-information .guide-information-right {
  width: 40%;
  height: 140px;
  margin-top: 40px;
  background: #fff;
}
.Contact .inner .map-section .location-guide .location-guide-information .guide-information-right h3 {
  margin: 20px;
  animation: ani 0.5s linear infinite;
}

@keyframes ani {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1179px) {
  .Contact .inner h2 {
    margin-left: 40px;
  }
  .Contact .inner .contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Contact .inner .contact-section .contact-form {
    width: 80%;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr {
    display: flex;
    flex-direction: column;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(1) th {
    width: 100%;
    margin-left: 30px;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(1) td {
    width: 100%;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(2) th {
    width: 100%;
    margin-left: 30px;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(2) td {
    width: 100%;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(2) td textarea {
    height: 130px;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(3) {
    display: flex;
    justify-content: center;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(3) th {
    width: 100%;
    height: 100%;
    margin-top: 80px;
  }
  .Contact .inner .contact-section .contact-img {
    width: 90%;
  }
  .Contact .inner .flow-section .flow-brands-logo .wrap-logo img {
    width: 80px;
    height: 80px;
  }
  .Contact .inner .map-section {
    flex-wrap: wrap;
  }
  .Contact .inner .map-section .kakao-map {
    width: 100%;
  }
  .Contact .inner .map-section .kakao-map::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .Contact .inner .map-section .kakao-map .btnSet button {
    margin-bottom: 20px;
  }
  .Contact .inner .map-section .kakao-map .btnSet ul li:nth-of-type(1) {
    margin-left: 0;
  }
  .Contact .inner .map-section .location-guide {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 539px) {
  .Contact .inner .contact-section {
    margin-bottom: 10px;
  }
  .Contact .inner .contact-section .contact-form {
    width: 100%;
    order: 2;
  }
  .Contact .inner .contact-section .contact-form form fieldset table tr:nth-of-type(1) {
    margin-bottom: 30px;
  }
  .Contact .inner .contact-section .contact-img {
    order: 1;
    margin-bottom: 50px;
  }
  .Contact .inner .flow-section .flow-brands-logo .wrap-logo {
    width: 50%;
  }
  .Contact .inner .map-section .location-guide .location-guide-address h3 {
    text-align: center;
  }
  .Contact .inner .map-section .location-guide .location-guide-information {
    padding-bottom: 40px;
  }
  .Contact .inner .map-section .location-guide .location-guide-information .guide-information-left {
    width: 100%;
  }
  .Contact .inner .map-section .location-guide .location-guide-information .guide-information-right {
    display: none;
  }
}
.Project {
  width: 100%;
  padding-bottom: 100px;
}
.Project .inner h2 {
  font-size: 50px;
  border-bottom: 3px solid #000;
  display: inline-block;
  padding-bottom: 20px;
}
.Project .inner article {
  width: 100%;
  height: 600px;
  padding: 20px 0;
  position: relative;
  margin: 40px 0 130px;
}
.Project .inner article h3 {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 300px;
  padding: 30px 20px;
  font-weight: bold;
  font-size: 30px;
  background: #000;
  color: #fff;
  z-index: 10;
}
.Project .inner article .txt {
  position: absolute;
  width: 38%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 10px 0;
}
.Project .inner article .txt p {
  font: 16px/1.2 "arial";
}
.Project .inner article .txt p:nth-of-type(1) {
  color: #999;
}
.Project .inner article .txt p:nth-of-type(2) {
  color: #000;
  filter: saturate(0);
  margin-left: 10px;
}
.Project .inner article .pic {
  position: absolute;
  width: 80%;
  height: 530px;
  background: #000;
  transition: 0.5s;
}
.Project .inner article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Project .inner article .pic:hover {
  filter: saturate(1.5);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.8);
}
.Project .inner article .pic .see-project {
  display: flex;
  position: absolute;
  padding: 20px;
  width: 200px;
  height: 100px;
  background: #f2f2f2;
}
.Project .inner article .pic .see-project p {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.Project .inner article .pic .see-project p span {
  margin-left: 10px;
  padding: 6px 9px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: 0.5s;
}
.Project .inner article .pic .see-project p span:hover {
  background: #000;
  color: #fff;
}
.Project .inner article:nth-of-type(odd) h3 {
  left: 10px;
}
.Project .inner article:nth-of-type(odd) .txt {
  justify-content: end;
  right: 0;
}
.Project .inner article:nth-of-type(odd) .pic {
  right: 0;
  bottom: 0;
}
.Project .inner article:nth-of-type(odd) .pic .see-project {
  bottom: 0;
  right: 0;
}
.Project .inner article:nth-of-type(even) .pic {
  left: 0;
  bottom: 0;
}
.Project .inner article:nth-of-type(even) .pic .see-project {
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1179px) {
  .Youtube article h3 {
    width: 48%;
  }
  .Youtube article h3 .txt {
    width: 50%;
  }
  .Youtube article h3 .pic {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 539px) {
  .Project .inner article {
    height: 340px;
  }
  .Project .inner article h3 {
    width: 100%;
    margin-bottom: 20px;
    display: none;
  }
  .Project .inner article .txt {
    width: 100%;
  }
  .Project .inner article .pic {
    width: 100%;
    height: 280px;
    margin-bottom: 0;
  }
  .Project .inner article .pic .see-project {
    width: 160px;
    height: 70px;
  }
  .Project .inner article .pic .see-project p {
    font-size: 14px;
  }
  .Project .inner article::after {
    position: absolute;
    bottom: -80px;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #aaa;
  }
}

/*# sourceMappingURL=style.css.map */
